# This is an example configuration file.
# To run the application, copy this file to "application.properties" and fill in the actual values.

spring.application.name=demo

# PostgreSQL Database Connection Settings
spring.datasource.url=jdbc:postgresql://localhost:5432/local
spring.datasource.username=your_db_username
spring.datasource.password=your_db_password

# JPA/Hibernate Settings
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.show-sql=true
